.places {
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  gap: 80px;
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    gap: 72px;
  }
}

@media screen and (max-width: 460px) {
  .places {
    padding-top: 64px;
    gap: 50px;
  }
}
