.places {
  margin: 0;
  display: grid;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  gap: 6.2vw;
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 7.8vw;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 7.8vw;
  }
}

@media screen and (max-width: 425px) {
  .places {
    gap: 7.8vw;
  }
}
