.header__logo {
  width: 15vw;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 17vw;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 23vw;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 43vw;
  }
}
