.lead__title {
  margin: 0 auto;
  max-width: 720px;
  color: #fff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 810px) {
  .lead__title {
    font-size: calc((100vw - 425px) / (1280 - 425) * (96 - 40) + 40px);
    line-height: calc((100vw - 425px) / (1280 - 425) * (100 - 44) + 44px);
  }
}

@media screen and (max-width: 760px) {
  .lead__title {
    font-size: calc((100vw - 425px) / (1280 - 425) * (96 - 40) + 40px);
    line-height: calc((100vw - 425px) / (1280 - 425) * (100 - 44) + 44px);
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 90vw;
    font-size: 40px;
    line-height: 44px;
  }
}
