.place__paragraph {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
  width: 37.8vw;
}

.place__paragraph:first-child {
  padding-bottom: 2vw;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 44.5vw;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    width: 45.8vw;
  }
}

@media screen and (max-width: 460px) {
  .place__paragraph {
    width: 90vw;
  }
}
