.place__paragraph {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph:first-child {
  padding-bottom: 2vw;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
