.lead__image {
  margin: 0 auto;
  display: block;
  max-width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
  }
}
