.cover__overlay {
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.cover__overlay::before {
  content: '';
  background-color: rgba(42, 44, 47, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
  z-index: 1;
  transition: background-color 0.3s linear;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1180px) {
  .cover__overlay {
    min-height: calc(100vw / 1.62);
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
    gap: 16px;
  }
}
