.cover__title {
  margin: 0 auto;
  max-width: 560px;
  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 33%;
  left: 26%;
  right: 26%;
}

@media screen and (max-width: 1180px) {
  .cover__title {
    top: 19vw;
    left: 22%;
    right: 22%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .cover__title {
    font-size: calc((100vw - 425px) / (1280 - 425) * (72 - 32) + 32px);
    line-height: calc((100vw - 425px) / (1280 - 425) * (76 - 35) + 35px);
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    top: 14.9vw;
    left: 13.5vw;
    right: 13.5vw;
  }
}

@media screen and (min-width: 426px) and (max-width: 692px) {
  .cover__title {
    font-size: calc((100vw - 425px) / (1280 - 425) * (72 - 32) + 32px);
    line-height: calc((100vw - 425px) / (1280 - 425) * (76 - 35) + 35px);
  }
}

@media screen and (max-width: 460px) {
  .cover__title {
    max-width: 90vw;
    font-size: 32px;
    line-height: 35px;
    top: 10.3vw;
    left: 5vw;
    right: 5vw;
  }
}
