.intro__title {
  margin: 0;
  max-width: 53.9vw;
  color: #fff;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    max-width: 67.3vw;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 93.7vw;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
  }
}

@media screen and (max-width: 425px) {
  .intro__title {
    max-width: 90vw;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
